img[src$='#logo'] {
    height: 64px;
    margin: 10px;
    float: left;
    backgrond: #ffffff;
}

div.post-holder {
overflow: hidden;
}

div.logos {
overflow: hidden;
}

a {
  color: #4383d9;
}

div.dark a {
  color: #c6e6fd;
}
