img[src$='#premier'] {
    height: 72px;
    padding: 20px;
    float: left;
    backgrond: #ffffff;
}
img[src$='#general'] {
    height: 42px;
    margin: 20px;
    float: left;
    backgrond: #ffffff;
}
img[src$='#associate'] {
    height: 32px;
    margin: 20px;
    float: left;
    backgrond: #ffffff;
}

img[src$='#logo'] {
    height: 64px;
    margin: 10px;
    float: left;
    backgrond: #ffffff;
}

div.post-holder {
overflow: hidden;
}

div.logos {
overflow: hidden;
}

a {
  color: #4383d9;
}

div.dark a {
  color: #c6e6fd;
}
